{{!-- Previous/next page links - displayed on every page --}}
{{!-- pagination --}}
<div class="paging">
	<div class="paging-up">
		{{#if prev}}
		<a href="{{page_url prev}}"><i class="iconfont icon-paginationprevious14"></i></a>
		{{else}}
		<span title="no more!"><i class="iconfont icon-paginationprevious14"></i></span>
		{{/if}}
	</div>
	<div class="paging-text">
		Page {{page}} of {{pages}}
	</div>
	<div class="paging-down">
		{{#if next}}
		<a href="{{page_url next}}"><i class="iconfont icon-paginationnext14"></i></a>
		{{else}}
		<span title="no more!"><i class="iconfont icon-paginationnext14"></i></span>
		{{/if}}
	</div>
</div>