{{!-- Previous/next page links - displayed on every page --}}
{{!-- pagination --}}
<div class="paging">
	<div class="paging-up">
		{{#if prev}}
		<a href="{{page_url prev}}"><</a>
		{{else}}
		<span title="no more!"><</span>
		{{/if}}
	</div>
	<div class="paging-text">
		{{page}} of {{pages}}
	</div>
	<div class="paging-down">
		{{#if next}}
		<a href="{{page_url next}}">></a>
		{{else}}
		<span title="no more!">></span>
		{{/if}}
	</div>
</div>